APP_NAME=catalyst-go-skeleton
APP_PORT=8080
APP_ENV=Development

FRONTEND_URL=https://dev-xms-jt-fe.machtwatch.net

# DB config
DB_AUTO_MIGRATE=false

# PostgreSQL
POSTGRES_HOST_MASTER=postgres
POSTGRES_PORT_MASTER=5432
POSTGRES_USERNAME_MASTER=postgres
POSTGRES_PASSWORD_MASTER=postgres
POSTGRES_DATABASE_MASTER=voila_sample_db
POSTGRES_SSL_MODE_MASTER=disable

POSTGRES_HOST_SLAVE=postgres
POSTGRES_PORT_SLAVE=5432
POSTGRES_USERNAME_SLAVE=postgres
POSTGRES_PASSWORD_SLAVE=postgres
POSTGRES_DATABASE_SLAVE=voila_sample_db
POSTGRES_SSL_MODE_SLAVE=disable
POSTGRES_SSL_MODE=disable

# Mongo
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=voila
MONGO_USER=mongo
MONGO_PASSWORD=mongo
MONGO_TIMEOUT=1000

# Redis 
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_METHOD=HS256
JWT_SECRET=XMS_CR3D3NT!@L_S3CR3T
JWT_LIFESPAN_AUTHTOKEN=3
JWT_LIFESPAN_REFRESHTOKEN=72
JWT_DOMAIN=https://domain-url
JWT_AUDIENCE=https://audience-url

# JWKS
JWKS_URL=http://localhost:4444/.well-known/jwks.json
JWKS_REFRESH=1
JWKS_TTL=12

# Rundeck
RUNDECK_URL=https://rundeck.machtwatch.net
RUNDECK_API_TOKEN=some-api-token
RUNDECK_PROJECT=project-name
RUNDECK_JOB_ID=some-job-id
RUNDECK_JOB_BEARER_TOKEN=some-token # Used as bearer token for rundeck job when making API calls to this service

# Integration services
NOTIFICATION_SERVICE_BASE_URL=https://dev-message.machtwatch.net
NOTIFICATION_SERVICE_SENDER_EMAIL=no-reply@machtwatch.co.id
NOTIFICATION_SERVICE_SENDER_NAME=No-Reply

# HTTP client configs
HTTP_REQUEST_RETRY_COUNT=3
HTTP_REQUEST_RETRY_WAIT_TIME_MS=5000
HTTP_REQUEST_MAX_WAIT_TIME_MS=20000

# RabbitMQ
RABBITMQ_URI="amqp://guest:guest@rabbitmq:5672/"
RABBITMQ_CONFIG_DURABLE=true
RABBITMQ_CONFIG_EXCLUSIVE=false
RABBITMQ_CONFIG_AUTO_DELETED=false
RABBITMQ_CONFIG_INTERNAL=false
RABBITMQ_CONFIG_NO_WAIT=false

# App configs
SERVER_GRACEFUL_SHUTDOWN_TIMEOUT_S=5
DEBUG=true

# NewRelic
NEWRELIC_APP_NAME=catalyst-go-skeleton
NEWRELIC_LICENSE="77369211f850b38de9e2457b30b2560daacXXXXX"

# Bifrost
BIFROST_URI="https://bifrost.machtwatch.net"
BIFROST_TENANT_CODE="jt-ca"

# Image Upload Validation
IMAGE_MAX_SIZE_IN_MB=1
IMAGE_MAX_WIDTH=10000
IMAGE_MAX_HEIGHT=10000
IMAGE_MIN_WIDTH=100
IMAGE_MIN_HEIGHT=100

# Trace
TRACE_OTLP_TARGET="otel-collector:4317"
TRACE_SAMPLE_RATIO=1

# Flag
FLAG_URL="http://growthbook:3100/api/features/sdk-xjWX56qyNys34ayU"